fsys main config /dev/fs/fossil-sdE2
fsys main open -AWPV
fsys main
users -w
uname adm +glenda
uname users :1000
uname joe :1001
uname users +joe
create /active/usr/j 1001 1001 d700
srv -p fscons-sdE2
srv -A fossil-sdE2
